@media (min-width: 600px) {
  .coordinates:nth-child(1) {
    padding-left: 0 !important;
  }
  .coordinates:nth-child(2) {
    padding-right: 0 !important;
  }
}
input {
  color: #ccc;
}
#calculate:hover {
  opacity: 0.8;
  cursor: pointer;
}
#result {
  visibility: visible;
  transition: visibility 1s;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s;
}
#map {
  height: 40vh;
}
